.card {
    background-color: $clr-dark-desaturated-blue;
    width: 88%;
    max-width: 33rem;
    margin-inline: auto;
    padding-bottom: 1.5rem;
    border-radius: 0.8rem;
    overflow: hidden;

    &__image {
        background-color: $clr-soft-violet;

        & img {
            object-fit: cover;
            width: 100%;
            display: block;
            mix-blend-mode: multiply;
            opacity: 0.75;
        }
    }

    &__title {
        font-family: $ff-inter;
        font-weight: $fw-bold;
        color: $clr-white;
        font-size: 2.8rem;
        padding-block: 4.8rem 2.4rem;
        width: 95%;
    }

    &__description {
        font-family: $ff-lexend-deca;
        color: $clr-slightly-transparent-white-strong;
        line-height: 2.4rem;
        padding-bottom: 4.8rem;
        opacity: 0.9;
        width: 95%;
    }
}

@media screen and (min-width: 1440px) {
    .card {
        width: 77%;
        max-width: 111rem;
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 0;


        &__image {
            width: 100%;
            overflow: hidden;

            & img {
                width: 100%;
            }
        }

        &__title {
            padding-block: 2.8rem;
            font-size: 3.6rem;
        }

        &__description {
            padding-bottom: 6rem;
            width: 90%;
        }

        &__stat {
            display: flex;
            gap: 6.4rem;
        }
    }
}