*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    background-color: $clr-very-dark-blue;
    min-height: calc(100vh - 5rem);
    position: relative;
}

main {
    padding-block: 10rem;
    min-width: 37.5rem;
}

footer {
    position: absolute;
    bottom: -5rem;
    width: 100%;
    background-color: #f1faee;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $ff-lexend-deca;
}

@media screen and (min-width: 1440px) {
    main {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}